[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=1.10.0"
torchvision = "*"
torchaudio = "*"
pynvim = "*"
imageio = "~=2.10.3"
pandas = "*"
numpy = "*"
tensorflow = "*"
Pillow = "~=8.4.0"
scikit-learn = "*"
matplotlib = "*"
scikit-image = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
